<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--colocar -Dtestng.dtd.http=true dentro de las configuraciones de argumentos 
	de VM del TESTNG class -->
<suite name="Suite Groups">
	<!-- si el groups esta despues de la etiqueta suite, este grupo se aplicara 
		a todos las etiquetas test siguientes -->
	<!-- si el groups esta despues de la etiqueta test, este grupo se aplicara 
		solo a los test particulares dentro de ella -->

	<test name="Test A">
		<groups>
			<!-- Para hacer grupos de grupos. El nombre del grupo de grupo se coloca en etiqueta run -->
			<define name="Grupo 1">
				<include name="A" />
				<include name="B" />
				<include name="C" />
			</define>
			<run>
				<!-- aca va el mismo nombre que se utiliza dentro del @Test(groups = "") -->
				<include name="Grupo 1" />
				<!--<exclude name="Grupo 1" /> -->
			</run>
		</groups>
		<classes>
			<class name="testNG.Grupo1" />
			<class name="testNG.Grupo2" />
		</classes>
	</test>
	<test name="Test B">
		<groups>
			<run>
				<!-- aca va el mismo nombre que se utiliza dentro del @Test(groups = "") -->
				<!-- puede ir name = palabra* -->
				<include name="D" />
				<!-- <exclude name="Grupo_dsp_suite" /> -->
			</run>
		</groups>
		<classes>
			<class name="testNG.Grupo2" />
			<class name="testNG.Grupo1" />
		</classes>
	</test>
</suite>